.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-div {
  position: absolute;
  width: 100%;
  height: 65px;
  left: 0px;
  top: 0px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  display: flex;
}

.header-img {
  height: 70%;
  margin-top: 10px;
}

.header-div > h2 {
  margin-left: 5px;
}

.header-div > h5 {
  float: right;
  margin-left: 650px;
}

.body-div {
  margin: 100px;
}

.form-elements {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 15px;
}

.input {
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.body-img {
  margin: 50px;
}

button {
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: aliceblue;
  grid-column: 1 / -1;
  width: max-content;
  cursor: pointer;
}



.img-div {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}